[submodule "qtbase"]
	path = qtbase
	url = https://github.com/Memsource/qtbase.git
	branch = 5.9.4_memsource
	status = essential
[submodule "qtsvg"]
	depends = qtbase
	path = qtsvg
	url = https://github.com/qt/qtsvg.git
	branch = 5.9
	status = addon
[submodule "qtdeclarative"]
	depends = qtbase
	recommends = qtsvg qtxmlpatterns
	path = qtdeclarative
	url = https://github.com/qt/qtdeclarative.git
	branch = 5.9
	status = essential
[submodule "qtactiveqt"]
	depends = qtbase
	path = qtactiveqt
	url = https://github.com/qt/qtactiveqt.git
	branch = 5.9
	status = addon
[submodule "qtscript"]
	depends = qtbase
	recommends = qttools
	path = qtscript
	url = https://github.com/qt/qtscript.git
	branch = 5.9
	status = deprecated
[submodule "qtmultimedia"]
	depends = qtbase
	recommends = qtdeclarative
	path = qtmultimedia
	url = https://github.com/qt/qtmultimedia.git
	branch = 5.9
	status = essential
[submodule "qttools"]
	depends = qtbase
	recommends = qtdeclarative qtactiveqt qtwebkit
	path = qttools
	url = https://github.com/qt/qttools.git
	branch = 5.9
	status = essential
[submodule "qtxmlpatterns"]
	depends = qtbase
	path = qtxmlpatterns
	url = https://github.com/qt/qtxmlpatterns.git
	branch = 5.9
	status = addon
[submodule "qttranslations"]
	depends = qttools
	path = qttranslations
	url = https://github.com/qt/qttranslations.git
	branch = 5.9
	status = essential
	priority = 30
[submodule "qtdoc"]
	depends = qtdeclarative
	path = qtdoc
	url = https://github.com/qt/qtdoc.git
	branch = 5.9
	status = essential
	priority = 40
[submodule "qtrepotools"]
	path = qtrepotools
	url = https://github.com/qt/qtrepotools.git
	branch = master
	status = essential
	project = -
[submodule "qtwebkit"]
	depends = qtbase
	recommends = qtdeclarative qtxmlpatterns
	path = qtwebkit
	url = https://github.com/qt/qtwebkit.git
	branch = 5.9
	status = obsolete
	project = WebKit.pro
	priority = 20
[submodule "qtqa"]
	depends = qtbase
	path = qtqa
	url = https://github.com/qt/qtqa.git
	branch = master
	status = essential
	priority = 50
[submodule "qtsystems"]
	depends = qtbase
	recommends = qtdeclarative
	path = qtsystems
	url = https://github.com/qt/qtsystems.git
	branch = dev
	status = ignore
[submodule "qtfeedback"]
	depends = qtdeclarative
	recommends = qtmultimedia
	path = qtfeedback
	url = https://github.com/qt/qtfeedback.git
	branch = master
	status = ignore
[submodule "qtdocgallery"]
	depends = qtdeclarative
	path = qtdocgallery
	url = https://github.com/qt/qtdocgallery.git
	branch = master
	status = ignore
[submodule "qtconnectivity"]
	depends = qtbase
	recommends = qtdeclarative qtandroidextras
	path = qtconnectivity
	url = https://github.com/qt/qtconnectivity.git
	branch = 5.9
	status = addon
[submodule "qtimageformats"]
	depends = qtbase
	path = qtimageformats
	url = https://github.com/qt/qtimageformats.git
	branch = 5.9
	status = addon
[submodule "qtgraphicaleffects"]
	depends = qtdeclarative
	path = qtgraphicaleffects
	url = https://github.com/qt/qtgraphicaleffects.git
	branch = 5.9
	status = addon
[submodule "qtquickcontrols"]
	depends = qtdeclarative
	recommends = qtgraphicaleffects
	path = qtquickcontrols
	url = https://github.com/qt/qtquickcontrols.git
	branch = 5.9
	status = essential
[submodule "qtx11extras"]
	depends = qtbase
	path = qtx11extras
	url = https://github.com/qt/qtx11extras.git
	branch = 5.9
	status = addon
[submodule "qtmacextras"]
	depends = qtbase
	path = qtmacextras
	url = https://github.com/qt/qtmacextras.git
	branch = 5.9
	status = addon
[submodule "qtwinextras"]
	depends = qtbase
	recommends = qtdeclarative qtmultimedia
	path = qtwinextras
	url = https://github.com/qt/qtwinextras.git
	branch = 5.9
	status = addon
[submodule "qtandroidextras"]
	depends = qtbase
	path = qtandroidextras
	url = https://github.com/qt/qtandroidextras.git
	branch = 5.9
	status = addon
[submodule "qtquickcontrols2"]
	depends = qtquickcontrols
	path = qtquickcontrols2
	url = https://github.com/qt/qtquickcontrols2.git
	branch = 5.9
	status = addon
